.text
{
  width: 100%;
}

.last
{
  /* align-self: center; */
  /* position:absolute;
  bottom:0; */
  position:relative;
  margin-bottom:25%;
}

.btn-group
{
  width: 100%;

}

.btn
{
  margin-top: 3%;
}
h1
{
  margin-top: 3%;
}

.btn-close{

  float: right;

}
