#main
{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

#sub
{
  font-family: 'Roboto', sans-serif;
}

button
{
  float: right;

}

span
{
  font-size: 30px;
  color: red;
}

#carouselExampleIndicators
{
  position: relative;
  width: 100vw;
  height: 50vh;
  /* display: flex;
    justify-content: center; */
}
